.chamadas{      
    #capture{
        background: rgba(1,33,42,1);
        //background: linear-gradient(147deg, rgba(1,33,42,1) 10%, rgba(1,86,115,1) 60%);
        border: none!important;
        padding: 50px 0 100px;
        overflow-x: hidden;    
    }
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .titulo{
        color: #fff;
        text-align: center;
        margin-bottom: 30px;
        h2{
            font-size: 48px;            
            padding: 30px 0;           
        }
        p{
            font-size: 30px;    
        }
        
    }
    .bloco-campos{
        display: flex;
        justify-content: space-around;
    }
    .campo{
        width: 360px;
        // margin-right: 57px;
        .nome-campo{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 45px;
            border: 1px solid #fff;
            margin-bottom: 20px;
            color: #fff;
        }
    }
    .times{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .time{
            display: flex;
            align-items: center;
        }
        p.divisor{
            font-size: 20px;
            color: #fff;
        }
        .nome{
            width: 90px;
            &.left{
                margin-left: 10px;                
                text-align-last: start;     
            }
            &.right{
                margin-right: 10px;
                text-align-last: end;                
            }
            input{
                width: 100%;
                background: transparent;
                color: #fff;
                font-size: 12px;
                border: none;
                appearance: none;
                pointer-events: none;
                
                option{
                    color: #000;
                }
            }
        }
        .logo{
            width: 75px;
            height: 75px;            
            img{
                width: 100%;
                max-width: 100%;
                height: auto;
            }
        }
    }
}