.classificacao{     
    #capture{
        background: linear-gradient(147deg, rgba(1,33,42,1) 10%, rgba(1,86,115,1) 60%);
        padding: 50px 0 100px;
    } 
    .logo,
    .titulo{
        display: flex;
        justify-content: center;
        align-items: center;
        h2{
            font-size: 48px;
            color: #fff;
            padding: 70px 0;
        }
    }

    .tabela{
        width: 100%;
        max-width: 1110px;
        margin: 0 auto;
        border: 1px solid #fff;
        border-top: none;
        border-left: none;
        //padding: 20px 50px;
        .linha{
            display: flex;      
            &.fixa{           
                color: #fff;     
                .vf{
                    font-size: 36px;                    
                    border-top: 1px solid #fff;     
                    border-left: 1px solid #fff;     
                    border-right: none;                 
                }
                .vf2{
                    font-size: 36px;
                    border-top: none;
                    border-left: 1px solid #fff;        
                    border-right: 1px solid #fff;  
                }
                .posicao, .nome{
                    visibility: hidden;
                    opacity: 0;
                }
            }      
            &.dinamica{
                input{
                    border-top: 1px solid #fff;
                    border-bottom: 1px solid #fff;
                }
                .posicao{
                    border: 1px solid #fff;     
                    border-bottom: none;    
                }
                .nome{
                    input{
                        border: 1px solid #fff;     
                        border-left: none;                   
                        border-right: none;    
                        border-bottom: none;               
                    }
                }
                .vf{     
                    input{
                        border-left: 1px solid #fff;      
                        border-right: none;  
                        border-bottom: none;             

                    }               
                }
                .vf2{        
                    input{
                        border-left: 1px solid #fff;        
                        border-right: 1px solid #fff;
                    }            
                }
            }      
            &.dinamica2{
                input{
                    border-bottom: none;
                    border-top: none;
                }
                .nome{
                    input{
                        border: none;
                    }
                }
                .vf{     
                    input{
                        border-left: 1px solid #fff;                   
                        border-right: none;  
                    }               
                }
                .vf2{        
                    input{
                        border-left: 1px solid #fff;        
                        border-right: 1px solid #fff;
                    }            
                }
            }      
            .coluna{
                height: 70px;
                &.posicao{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 70px;
                    text-align: center;   
                    font-size: 30px;
                    color: #fff; 
                }
                &.nome{
                    width: 359px;
                    text-align: left;
                    select{
                        border-left: none;
                        border-right: none; 
                    }
                    input{
                        text-align: left;
                        padding: 0 10px;
                    }
                }
                &.valor{
                    width: 70px;
                    text-align: center;                                      
                }                
                &.valorG{
                    width: 130px;
                    text-align: center;                                      
                }                
                &.vazio{
                    width: 65px;
                }
                select{
                    width: 100%;
                    height: 100%;                   
                    font-size: 36px;
                    text-transform: uppercase;
                    text-align: center;
                    option{
                        font-size: 22px;
                    }                    
                }
                input{
                    width: 100%;
                    height: 100%;                    
                    font-size: 30px;
                    text-align: center;
                    background: transparent;
                    color: #fff;
                }
            }
        }

    }
}